<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushi clicker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="navSider">
        <div class="blockHeader">
            {% block header %}
            <h1>Sushi clicker</h1>
            {% endblock %}
        </div>
        <div class="sider">
            <a href="/">Hjemmeside</a>
            <p>●</p>
            <a href="/brukerSide">Registrer / Logg Inn</a>
        </div>
        <div class="headerRight"></div>
    </div>
    <hr>

    {% block body %}
    <div class="mainInnhold">
        <!-- Scoreboard Section -->
        <div class="scoreboard">
            <h2>Scoreboard</h2>
            <p id="printClicks">Her skal det printes</p>
        </div>

        <!-- Sushi Clicker Section -->
        <div class="sushi-clicker">
            <img id="woodenCB" src="/static/images/woodenCB.png" alt="wooden cutting board png">
            <img id="sushiSvg" src="/static/images/sushiClicker.svg" alt="svg sushi">
        </div>

        <!-- Upgrades Section -->
        <div class="oppgrader">
            <div>
                <button id="moreClicks">Multiply Clicks</button>
                <p id="printMoreClicks"></p>
            </div>
            <div>
                <button id="moreChefs">More Chefs</button>
                <p id="printMoreChefs"></p>
            </div>
            <div>
                <button id="chefsClicks">Chefs Level</button>
                <p id="printChefClicks"></p>
            </div>
        </div>
    </div>
    {% endblock %}

</body>
<script src="/static/script.js"></script>

</html>
