{% extends 'index.html'%}

{% block header %}
<h1>Om Spillet</h1>
{% endblock %}

{% block body %}
<h1>Instruksjoner</h1>
<p>
    Klikk på sushi-bildet!
</p>

<p>
    Hver gang du klikker, får du poeng. Jo mer du klikker, jo flere poeng får du!
    Bruk poengene dine til oppgraderinger!
</p>

<p>
    Trykk på knappene for å:
    Få flere poeng per klikk (Multiply Clicks).
    Ansette kokker som lager poeng for deg (More Chefs).
    Gjøre kokkene raskere (Chefs Level).
    Lagre fremgangen din!
</p>


<p>
    Trykk på "Lagre Scoren"-knappen for å lagre poengene dine.
    Logg inn igjen senere for å fortsette!
</p>

<p>
    Når du logger inn igjen, er poengene og oppgraderingene dine der fortsatt.
</p>
{% endblock %}