{% extends 'index.html'%}

{% block header %}
<h1>Registrer</h1>
{% endblock %}

{% block body %}
<div class="registrerInputs">
    <form action="/registrer_post", method="POST">
        <div>
            <label for="name">Navn:</label>
            <input type="text" name="name" placeholder="Skriv inn navnet ditt" style="font-style:italic">
        </div><br>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Skriv inn emailen ditt" style="font-style:italic">
        </div><br>
        <div>
            <label for="passord">Passord:</label>
            <input type="password" name="passord" placeholder="Skriv inn passordet ditt" style="font-style:italic">
        </div>
        <button type="submit">Registrer bruker</button>
    </form>
</div>
{% endblock %}